.pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.icon {
  position: absolute;
  font-size: 3rem;
  opacity: 0.25;
  transform: rotate(-45deg);
}
